{% extends "base.html" %}

{% block content %}

    <section class="z-40 w-full h-screen relative">
        <div class="swiper heroSwiper h-full">
            <div class="swiper-wrapper">
                {% for item in hero_items %}
                    <div class="swiper-slide">
                        <div class="h-screen w-full bg-cover bg-center flex items-center justify-center text-muted"
                             style="background-image: url('{{ url_for('static', filename=item.image ) }}');
                                    filter: brightness(0.7) contrast(1.1) saturate(0.8) hue-rotate(-10deg);">
                    
                            <div class="p-8 rounded-xl text-center">
                                <h1 class="text-4xl font-bold mb-4">
                                    {{ item.name }}
                                </h1>
                            
                                {% if item.type == "trek" %}
                                    <p class="text-lg">Explore this Trek in Maharashtra</p>
                                    <a href="/treks" class="mt-4 inline-block px-6 py-2 bg-primary rounded-lg text-secondary">
                                        View Trek
                                    </a>
                                {% elif item.type == "waterfall" %}
                                    <p class="text-lg">Discover this Waterfall</p>
                                    <a href="/waterfalls" class="mt-4 inline-block px-6 py-2 bg-primary rounded-lg text-secondary">
                                        View Waterfall
                                    </a>
                                {% endif %}
                            </div>
                        
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- ✅ MOVE BUTTONS HERE -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
</div>

    </section>

    <!-- -------------------------treks section----------------- -->
    <section id="treks" class="features w-full h-max py-16 bg-hover flex flex-col items-center">
        <div class="feature-section m-auto w-auto text-center px-5">
            <div class="section-header">
                <h1 class="mb-2 text-4xl text-background">Featured Treks</h1>
                <p class="mb-12 text-base text-background">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla vel voluptatem officiis temporibus possimus id.</p>
            </div>
            <div class="card-container flex justify-center gap-8 flex-wrap">
                {% if treks %}
                    {% for trek in treks %}
                        {% include "components/trek_card.html" %}
                    {% endfor %}
                {% else %}
                    <p class="capitalize">No featured treks at the moment. </p>
                {% endif %}
            </div>
        </div>
        <div class="view-all-treks-btn mt-8 py-2 px-5 rounded-xl text-base cursor-pointer text-background bg-primary inline-block">
            <a href="/treks">View all Treks</a>
        </div>
    </section>
    
    <!-- waterfall section -->

    <section id="waterfalls" class="waterfalls features w-full h-max py-16 bg-primary flex flex-col items-center">
        <div class="feature-section m-auto w-auto text-center px-5">
            <div class="section-header">
                <h1 class="mb-2 text-4xl text-background">Featured Waterfalls</h1>
                <p class="mb-12 text-base text-background">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nulla vel voluptatem officiis temporibus possimus id.</p>
            </div>
            <!-- <-------------cards starts from here-------------->
            <div class="card-container flex gap-8 flex-wrap justify-center">
                {% if waterfalls %}
                    {% for waterfall in waterfalls %}
                        {% include "components/waterfall_card.html" %}
                    {% endfor %}
                {% else %}
                    <p class="capitalize">No featured waterfalls at the moment.</p>
                {% endif %}
            </div>
        </div>
        <div class="view-all-treks-btn mt-8 py-2 px-5 rounded-xl text-base cursor-pointer text-background bg-primary inline-block">
            <a href="/waterfalls">View all Waterfalls</a>
        </div>
    </section>

    <section class="w-full h-auto py-20 bg-hover">
        <div class="px-20 m-auto text-center flex flex-col justify-center align-middle">
            <div class="mb-10">
                <h2 class="text-4xl capitalize text-background">why Maharashtra for treeking?</h2>
                <p class="text-base text-background mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quasi voluptatem quas, quo expedita necessitatibus.</p>
            </div>
            <div class="flex flex-col md:flex-row gap-4">
                <div class="p-6 text-center bg-white rounded-2xl">
                    <div class="inline-flex p-4 rounded-2xl text-primary mb-6 bg-[#b8e7d1]">
                        <img class="h-10 w-10 object-contain" src="{{ url_for('static', filename='images/icons/history_24dp_2D6B4D_FILL0_wght500_GRAD0_opsz24.svg') }}" alt="">
                    </div>
                    <h2 class="text-xl font-semibold mb-3">Rich History</h2>
                    <p class="text-base leading-relaxed">Explore centuries-old forts and trails that witnessed the rise of the Maratha Empire. Each trek is a journey through time.</p>
                </div>
                <div class="p-6 text-center bg-white rounded-2xl">
                    <div class="inline-flex p-4 rounded-2xl text-secondary mb-6 bg-[#ddb58d]">
                        <img class="h-10 w-10 object-contain" src="{{ url_for('static', filename='images/icons/landscape_2_24dp_E68C32_FILL0_wght500_GRAD0_opsz24.svg') }}" alt="">
                    </div>
                    <h2 class="text-xl font-semibold mb-3">Diverse Terrian</h2>
                    <p class="text-base leading-relaxed">From easy hill walks to challenging cliff climbs, Maharashtra's Western Ghats offer trails for every skill level.</p>
                </div>
                <div class="p-6 text-center bg-white rounded-2xl">
                    <div class="inline-flex p-4 rounded-2xl text-primary mb-6 bg-[#b8e7d1]">
                        <img class="h-10 w-10 object-contain" src="{{ url_for('static', filename='images/icons/group_18dp_000000_FILL0_wght500_GRAD200_opsz20.svg') }}" alt="">
                    </div>
                    <h2 class="text-xl font-semibold mb-3">Vibrant Community</h2>
                    <p class="text-base leading-relaxed">Join a passionate community of trekkers sharing knowledge and experiences. Perfect for beginners and experts alike.</p>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        window.onload = function () {

            const swiper = new Swiper(".heroSwiper", {
                loop: true,
                slidesPerView: 1,
                autoplay: {
                    delay: 4000,
                    disableOnInteraction: false,
                },
                navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                }
            });
        };

    </script>

{% endblock %}